<div data-component="main">
  <h4>Intercoin</h4>
  <h5>Desenvolvido por: Ana, Gabriel, Glaucus, Kathleen e Matias</h5>

  <div class="container">
    <div class="form">
      <form [formGroup]="form" class="lista" (ngSubmit)="onSubmit()">
        <input
          type="text"
          class="listagem"
          placeholder="Digite sua frase"
          formControlName="inputQuestion"
        >
        <div>

          <button mat-raised-button color="primary">Enviar</button>
        </div>
      </form>
      <span class="invalido" *ngIf="erro">Erro ao processar</span>
      <span class="invalido" *ngIf="invalido">Eu não tenho ideia do que você está falando</span>
      <span class="exibir" *ngIf="exibir">{{frase}}</span>
    </div>

    <div class="lista">
      <div class="listagem">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Moedas cadastradas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p *ngIf="moedas.length === 0">Clique em buscar</p>

          <p *ngFor="let item of moedas">{{item.nome}} - {{item.valor}}</p>
        </mat-expansion-panel>
      </div>
      <div>
        <button (click)="listar()" mat-raised-button color="primary">Buscar</button>
      </div>
    </div>
  </div>
</div>
